version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pulsestream-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pulsestream
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: pulsestream-redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: pulsestream-app
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"

volumes:
  pgdata: